@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --primary-color: #00eD82;
    --background-color: rgb(246, 247, 248);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: #000;
    color: #f5f5f5;
    line-height: 1.6;
    overflow-x: hidden;
}

.img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #000;
    min-width: 135px;
    padding: 16px 18px;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-main {
    color: #333;
}

.btn-main:hover {
    opacity: 0.6;
    color: #fff;
}

.login-btn {
    background: none;
    color: #fff;
}

.login-btn:hover {
    background: #ccc;
    opacity: 0.6;
    color: #666;
}

.text-xl {
    font-size: 50px;
    font-weight: 600;
    margin-top: 40px;
}

.text-lg {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary-color);
}

.text-md {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
    padding-bottom: 20px;
}

.sub-text {
    font-size: 18px;
    font-weight: 400;
    color: #f5f5f5;
    margin: 40px 0;
    line-height: 1.8;
}

.sub-text .star-text {
    font-weight: 600;
}

p {
    padding-bottom: 18px;
}

.header {
    width: 100%;
    height: 95vh;
    position: relative;
    background: url(../img/head.jpg) no-repeat center center / cover;
}

.header img {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 100px;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.header button {
    margin-right: 20px;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    z-index: 2;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 530px;
    z-index: 1;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.76) 15.54%,
            rgba(0, 0, 0, 0.192) 60.23%,
            rgba(0, 0, 0, 8e-5) 100%);
}

.header-content .text-xl {
    padding: 0 190px;
}

.header-content p {
    width: 750px;
}

.mission {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    background: linear-gradient(
            318.68deg,
        #0f495c 0%,
        #0d3640 49.72%,
        #08141f 100%
    );
}

.culture {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 40px;
    margin: auto;
    background-color: #222;
}

.join {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 60px 40px;
}   

.join button {
    width: 50%;
    margin-top: 20px;
}



.footer {
    background: rgb(232, 234, 237);
    color: rgb(90, 97, 114);
}

.footer a {
    color: rgb(90, 97, 114);
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    font-size: 13px;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: start;
    line-height: 25px;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: 600;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 0.7px rgb(90, 97, 114) solid;
    margin: 30px 0;
}

.social-icons i {
    font-size: 25px;
    margin-right: 20px;
}

.social-icons i:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.terms ul {
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 20px;
}

.terms li {
    font-size: 12px;
    font-weight: 300;
    padding-right: 20px;
}

@media(max-width: 1100px) {
   
    
    .header {
        height: 100%;
    }
}





@media(max-width: 786px) {

    .btn-main,
    .login-btn {
        padding: 16px 20px;
    }

    .header {
        height: 100%;
    }

    .header img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
    }

    .header button {
        margin-right: 0;
    }
    
    .header-content .text-xl {
        padding: 0 30px;
    }
    
    .header-content p {
        padding: 0 30px;
        width: 450px;
    }

    .join {
        width: 100%;
    }

    .text-lg {
        font-size: 28px;
    }

    .text-xl {
        font-size: 30px;
    }

     .footer-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .terms ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .terms li {
        width: 100%;
        font-size: 13px;
        padding: 8px 0;
    }
}
