@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --primary-color: #06cd6a;
    --background-color: rgb(246, 247, 248);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: var(--background-color);
    color: #000;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.img {
    width: 100%;
}

p {
    font-size: 18px;
    color: #999;
    letter-spacing: 1px;
}

h3 {
    color: #444;
    font-size: 18px;
    font-weight: 300;
    margin: auto;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.text-xl-dark {
    color: #15171c;
    font-size: 40px;
    font-weight: bold;
}

.text-lg {
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-text {
    width: 880px;
    color: #666;
    font-size: 17px;
    font-weight: lighter;
    padding-bottom: 40px;
    text-align: center;
}

.tiny-text {
    font-size: 9px;
    color: #5a6172;
    padding: 20px;
    line-height: 12px;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #000;
    width: 450px;
    padding: 16px 60px;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.8s ease-in;
}

.middle-btn:hover {
    opacity: 0.8;
}





.header {
    width: 100%;
    height: 10vh;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 5%;
}

.header i {
    position: absolute;
    font-size: 25px;
    top: 25%;
    right: 5%;
}

.user-icon-popup {
    position: absolute;
    top: 70%;
    right: 60px;
    width: 190px;
    padding: 10px;
    background: var(--background-color);
    border-radius: 8px;
    text-align: center;
    transition: all 0.8s ease-in;
    border: 1px solid #5a6172;
    z-index: 3;
    display: none;
}

.user-icon-popup.active {
    display: block;
}

.user-icon-popup p {
    font-size: 16px;
    font-weight:bold;
    color: #0b0c0f;
}

.user-icon-popup .login-btn {
    background: #0b0c0f;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
}

.user-icon-popup .login-btn:hover {
    opacity: 0.8;
}






.container {
    margin: 0 auto;
    padding: 20px;
    width: 1100px;
}

.accordion {
    position: relative;
    height: 100%;
    padding-bottom: 40px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #f5f5f5;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #666;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button .accordion-title {
    display: flex;
    justify-content: start;
    padding: 0 10px 2px 2px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 100%;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-weight: lighter;
}

.accordion .accordion-content a {
    font-weight: lighter;
    color: rgb(0, 93, 224);
    text-decoration: underline;
}





.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0;
}

.offer .sub-text {
    line-height: 25px;
    padding: 20px 0;
    margin: auto;
}

.offer h3 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    padding-bottom: 14px;
}

.middle-btn {
    max-width: 280px;
}

.offer .tiny-text {
    max-width: 890px;
}






.footer {
    background: rgb(232, 234, 237);
    color: rgb(90, 97, 114);
}

.footer a {
    color: rgb(90, 97, 114);
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    font-size: 13px;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: start;
    line-height: 25px;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: 600;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 0.7px rgb(90, 97, 114) solid;
    margin: 30px 0;
}

.social-icons i {
    font-size: 25px;
    margin-right: 20px;
}

.social-icons i:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.terms ul {
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 20px;
}

.terms li {
    font-size: 12px;
    font-weight: 300;
    padding-right: 20px;
}









@media(max-width: 1100px) {
    .container {
        width: 80%;
    }
}




@media(max-width: 768px) {
    .text-lg {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0;
    }

    h3 {
        font-size: 14px;
        font-weight: 600;
    }

    .header {
        height: 8vh;
    }

    .header img,
    .header i {
        top: 35px;
    }

    .container {
        padding: 10px;
        width: 100%;
    }

    .accordion {
        height: 100%;
        width: 90%;
        margin-top: 20px;
    }

    .accordion button .icon {
        right: -25px;

    }

    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        margin-bottom: 10px;
    }

    .offer {
        max-width: 350px;
        padding: 40px 0;
        margin: auto;
    }

    .text-xl-dark {
        font-size: 30px;
    }
    
    .offer .sub-text {
        max-width: 350px;
        font-size: 16px;
        padding: 20px 0;
        margin: auto;
    }
    
    .offer h3 {
        font-size: 14px;
        font-weight: 600;
    }
    
    .middle-btn {
        max-width: 280px;
    }
    
    .offer .tiny-text {
        max-width: 350px;
        margin: auto;
    }

    

    .modal-box {
        width: 350px;
    }

    .footer-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .terms ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .terms li {
        width: 100%;
        font-size: 13px;
        padding: 8px 0;
    }

    .modal-box {
        width: 350px;
    }
}