@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #06cd6a;
    --background-color: rgb(246, 247, 248);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    background: var(--background-color);
    color: #15171c;
    line-height: 1.7;
    overflow-x: hidden;
    letter-spacing: 1px;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.img {
    width: 100%;
}

h3 {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

h4 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #0b0c0f;
    width: 450px;
    padding: 16px 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.login-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #15171c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-btn:hover {
    opacity: 0.6;
    color: #15171c;
    background: #ccc;
}

.btn-outline-dark {
    background: #377cf6;
    color: #fff;
    font-size: 13px;
    width: 70%;
    padding: 12px 40px;
    text-transform: capitalize;
}

.btn-outline-dark:hover {
    opacity: 0.8;
}

.btn-dark {
    background: #0b0c0f;
    color: #fff;
    font-size: 13px;
    width: 70%;
    padding: 12px 40px;
    text-transform: capitalize;
}

.btn-dark:hover {
    opacity: 0.6;
}

.text-sm {
    font-size: 13px;
    font-weight: 300;
}

.text-md {
    color: #5a6172;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0;
}

.text-xl {
    font-size: 40px;
    font-weight: 600;
}

.light-text {
    color: #5a6172;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
}

.tiny-text {
    font-size: 9px;
    color: #5a6172;
    padding: 20px;
    line-height: 12px;
}







.navbar {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 80px;
}

.navbar img {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 60px;
}

.navbar i {
    position: absolute;
    top: 28px;
    right: 60px;
    font-size: 22px;
    cursor: pointer;
}

.user-icon-popup {
    position: absolute;
    top: 90%;
    right: 25px;
    width: 190px;
    padding: 10px;
    background: var(--background-color);
    border-radius: 8px;
    text-align: center;
    border: 1px solid #5a6172;
    z-index: 2;
    display: none;
}

.user-icon-popup.active {
    display: block;
}

.user-icon-popup p {
    font-size: 16px;
    font-weight:bold;
    color: #0b0c0f;
}

.user-icon-popup .login-btn {
    background: #0b0c0f;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
}

.user-icon-popup .login-btn:hover {
    opacity: 0.8;
}





.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.container-top img {
    width: 50px;
    margin-left: 40px;
}

.container .guarantee {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 260px;
    margin-right: 40px;
}

.docs {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.docs i {
    font-size: 20px;
    margin-right: 10px;
}

.docs .fa-check {
    color: #06cd6a;
    font-size: 16px;
}

.doc {
    padding: 25px 30px;
}

.doc .docs-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.doc .docs-head h4 {
    font-size: 18px;
}

.docs nav li {
    color: #5a6172;
}

.doc nav span {
    color: #0b0c0f;
    font-weight: bold;
}




.live {
    position: relative;
    background: var(--background-color);
    padding: 40px;
}

.live-border {
    position: relative;
    border: 4px solid #5a6172;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.live-top {
    padding-bottom: 20px;
}


.card {
    background-color: #fff;
    color: #5a6172;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.card .leg-text {
    font-size: 13px;
    font-weight: lighter;
    position: absolute;
    top: 40px;
    left: 50px;
}

.card .ribbon {
    position: absolute;
    background: #06cd6a;
    color: #0b0c0f;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    right: -17px;
    top: 16px;
    width: 35%;
    height: 28px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;   
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.01, 1.01);
}

.showcase-card {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 2px;
    margin-bottom: 20px;
}

.card .topic {
    color: #000;
    font-size: 24px;
    font-weight:700;
    letter-spacing: 1px;
    padding: 10px;
}

.card-title .light-text {
    font-size: 13px;
    margin: auto;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 40px;
}

.card .price {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.price .text-xl {
    color: #0b0c0f;
    font-size: 35px;
}

.card .text-xl span {
    font-size: 22px;
}

.card .price .sub-title {
    font-size: 14px;
    padding-top: 10px;
    margin-left: 2px;
}

.showcase-card nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px 0;
}

.card ul li {
    font-size: 13px;
    font-weight: 300;
    color: #0b0c0f;
    padding: 6px 0;
    margin-left: 30px;
}

.showcase-card nav li i {
    color: #06cd6a;
    font-size: 13px;
    margin: 0 20px;
}

.btn-main span {
    text-decoration: line-through;
}






.footer {
    background: rgb(232, 234, 237);
    color: rgb(90, 97, 114);
}

.footer a {
    color: rgb(90, 97, 114);
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    font-size: 13px;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: start;
    line-height: 25px;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: 600;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 0.7px rgb(90, 97, 114) solid;
    margin: 30px 0;
}

.social-icons i {
    font-size: 25px;
    margin-right: 20px;
}

.social-icons i:hover {
    cursor: pointer;
    color: #06cd6a;
}

.terms ul {
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 20px;
}

.terms li {
    font-size: 12px;
    font-weight: 300;
    padding-right: 20px;
}








@media(max-width: 1100px) {

    .container {
        width: 90%;
    }

    .text-md {
        font-size: 18px;
    }

    .text-lg {
        font-size: 28px;
        font-weight: 600;
        padding: 20px 0;
    }

    .navbar img {
        top: 50px;
        left: 70px;
    }

    .navbar i {
        top: 50px;
        right: 70px;
    }

    .card {
        width: 350px;
    }
    
    .showcase-card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .card-shadow {
        box-shadow: none;
        transform: scale(1, 1);
    }

    .card .text-xl {
        font-size: 45px;
    }

    .btn-dark {
        padding: 18px 30px;
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}




@media(max-width: 786px) {

        .navbar {
            height: 8vh;
        }
    
        .navbar .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .navbar img {
            width: 100px;
            top: 40%;
            left: 30px;
        }

        .navbar i {
            top: 40%;
            right: 30px;
        }

        .text-md {
            font-size: 16px;
        }

        .text-lg {
            font-size: 30px;
        }

        .text-xl {
            font-size: 32px;
        }

        .container {
            width: 90%;
            margin: auto;
        }

        .container-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 70px;
        }

        .container-top img {
            margin: auto;
        }

        .container-top .guarantee {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 220px;
            margin: auto;
            padding-bottom: 20px;
        }

        .docs {
            display:flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        
        .live {
            padding: 20px;
        }
    
        .live-border {
            padding: 18px;
        }
    
        .live-border .legal-text a{
            display: inline-block;
            color: var(--primary-color);
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
        }

        .card {
            overflow: hidden;
        }
    
        .showcase-card nav li  i{
            margin: 0 18px;
        }
    
        .showcase-card {
            display: grid;
            grid-template-columns:  1fr;
            overflow: hidden;
        }
    
        .showcase-card nav li {
            font-size: 12px;
            font-weight: lighter;
            margin-left: 30px;
        }

        .footer-lists {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .terms ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .terms li {
            width: 100%;
            font-size: 13px;
            padding: 8px 0;
        }

        .modal-box {
            width: 350px;
        }
    }


